.Contact header{
    height: 320px;
    background-color: #003566;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #FFC300;
    filter: drop-shadow(4px 6px 4px #0000007e);
    font-family: "Luckiest Guy", cursive;
    font-size: 2em;
    height: 25vh;
}
.Map{
    height: 25vh;
}
.ContactDiv{
    display: flex;
    height: 50vh;
}
.ContactInfo{
    background-color: #FFC300;
    width: 50%;
    margin-top: 0;
}
.ContactInfo ul{
    list-style: none;
    color: #003566;
    font-size: 25px;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ContactInfo ul *{
    margin-left: 10px;
}
#subject{
    height: 25%;
}