.Contact header{
    height: 320px;
    background-color: #003566;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #FFC300;
    font-family: "Luckiest Guy", cursive;
    font-size: 2em;
    height: 200px;
}
.Contact header h1{
    filter: drop-shadow(4px 6px 4px #0000007e);
    margin: 10px;
}
.Map{
    height: 270px;
}
.ContactDiv{
    display: flex;
    min-height: 500px;
}
.ContactInfo{
    background-color: #FFC300;
    width: 50%;
    margin-top: 0;
}
.ContactInfo ul{
    list-style: none;
    color: #003566;
    font-size: 25px;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ContactInfo ul *{
    margin-left: 10px;
}
.ContactInfo li{
    cursor: pointer;
    
}
.ContactInfo a {
    text-decoration: none;
    color: #003566;
    margin: 0;
}
.ContactInfo a:hover{
    color: #004e97;
    transition: 0.5s;
}
#subject{
    height: 25%;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 900px){
    .ContactDiv{
        flex-direction: column;
        height: 250px;
    }
    .ContactDiv div{
        width: 100%;
        height: 500px;
    }
    .Contact h1{
        font-size: 1.4em;
    }
    .ContactInfo li{
        font-size: 0.8em;
    }
}