.Menu h2:not(.BeerList h2){
    color: #FFC300;
}
.Menu header{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../images/deep-fried.jpg) no-repeat center center/cover;
    width: 100%;
    height: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ProductListDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ProductList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 0;
}
.BeerList{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 455px;
    padding: 50px 0;
    background-color: #FFC300;
    color: #003566;
}
.BeerList img {
    width: 400px;
    height: 240px;
    object-fit: cover;
    margin-left: 30px;
}
.BeerList div{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.BeerList ul{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.BeerList li{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.BeerList{
    font-size: 1.3em;
}

.MenuList{
    display: flex;
    background-color: #003566;
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 50px 0;
    font-size: 1.3em;
}
@media only screen and (min-device-width : 500px) and (max-device-width : 900px){
    .BeerList div{
        flex-direction: column;
        align-items: center;
    }
    .BeerList img {
        width: 60%;
        margin: 0;
    }
    .BeerList ul{
        padding: 0;
    }

}
@media only screen and (min-device-width : 320px) and (max-device-width : 500px){
    .Menu header{
        font-size: 13px;
    }
    .BeerList img {
        width: 80%;
        height: 180px;
        margin: 0;
    }
    .BeerList ul{
        padding: 0;
    }
    .BeerList{
        font-size: 1em;;
    }
    .BeerList div{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .MenuList{
        font-size: 1em;
    }
}