.App {
  text-align: center;
}

h1:not(.Contact h1){
  filter: drop-shadow(4px 6px 4px #0000007e);
  font-family: "Luckiest Guy", cursive;
  color: #FFC300;
  font-size: 6em;
}
h2{
  font-size: 35px;
  filter: drop-shadow(4px 6px 4px #0000007e);
  font-family: "Luckiest Guy", cursive;
}
.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.App-link {
  color: #61dafb;
}
.Homepage header{
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(./images/french-fries.jpg) no-repeat center center/cover;
  height: 688px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Homepage title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.Homepage .title img{
  width: 265px;
}
.Homepage .title h1{
  font-size: 92px;
  color: #FFC300;
  margin: 0;
}
.Homepage .title h2{
  font-size: 30px;
  color: #FFC300;
  margin: 0;
}
.AboutUs{
  background-color: #FFC300;
  display: flex;
  padding: 50px 0;
  min-height: 300px;
  justify-content: space-around;
}
.AboutUs div{
  display: flex;
  flex-direction: column;
  max-width: 50%;
  text-align: left;
  color: #003566;
  font-size: 21px;
}
.AboutUs img{
  object-fit: cover;
  width: 490px;
}
.BestSales{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  height: 450px;
  padding: 50px 0;
  color: #FFC300;
}
.productContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 659px;
  text-align: center;
  background-color : #003566;
  font-size: 29px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 9px 6px 4px #0000007e;
}
.BestSales img{
  object-fit: cover;
  width: 300px;
  height: 229px;
}
.BestSales p{
  margin: 8px;
}

.Engagements{
  background-color: #003566;
  color: #FFC300;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  min-height: 503px;
  font-size: 1.3em;
  font-family: luckiest guy;
}
.Images{
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 50%;;
}
.Engagements img{
  object-fit: cover;
  width: 500px;
  height: 350px;
}
@media only screen and (min-device-width : 500px) and (max-width: 1200px) {
  .Homepage header{
    height: 500px;
  }
  .Homepage .title h1{
    font-size: 60px;
  }
  .Homepage .title h2{
    font-size: 20px;
  }
  .AboutUs{
    flex-direction: column;
    align-items: center;
  }
  .AboutUs div{
    max-width: 100%;
    text-align: center;
  }
  .AboutUs img{
    width: 80%;
  }
  .BestSales{
    height: 100%;
  }
  .productContainer{
    flex-direction: column;
  }
  .product{
    margin: 10px 0;
  }
  .BestSales img{
    width: 100%;
    height: 100%;
  }
  .Engagements{
    height: 100%;
  }
  .Images{
    flex-direction: column;
    align-items: center;
  }
  .Engagements img{
    width: 50%;
    height: 70%;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 500px){
  .Homepage header{
    height: 500px;
  }
  .Homepage .title h1{
    font-size: 60px;
  }
  .Homepage .title h2{
    font-size: 15px;
  }
  .AboutUs{
    flex-direction: column;
    align-items: center;
  }
  .AboutUs div{
    max-width: 100%;
    text-align: center;
  }
  .AboutUs img{
    width: 80%;
  }
  .BestSales{
    height: 100%;
  }
  .productContainer{
    flex-direction: column;
  }
  .Images{
    flex-direction: column;
    align-items: center;
  }
  .Engagements img{
    width: 60%;
    height: 70%;
  }
  .Engagements{
    height: 100%;
  }
  .Engagements h3{
    margin-bottom: 70px;
  }
}