.App {
  text-align: center;
  font-family: 'Aoboshi One';
}

h1{
  filter: drop-shadow(4px 6px 4px #0000007e);
  font-family: "Luckiest Guy", cursive;
}
h2{
  font-size: 35px;
  filter: drop-shadow(4px 6px 4px #0000007e);
  font-family: "Luckiest Guy", cursive;
}
.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.App-link {
  color: #61dafb;
}